.field-radio {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  &::before {
    @media (max-width: $mobile-width) {
      position: absolute;
      display: block;
      content: "";
      width: 111.2%;
      height: 1px;
      top: 0;
      left: -5.65%;
      background-color: $gray--light-2;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      background-color: $gray--light-2;
      /*вертикальная серая полоса*/
    }
  }

  &--order {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }
}

.field-radio__title {
  width: 100%;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    padding: 20px 0;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-left: 0;
    padding-bottom: 57px;
    font-size: $font-size--large;
    line-height: $line-height--large;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.field-radio__input {
  display: none;
  /* Прячем исходный переключатель*/
}

.field-radio__name {
  display: block;
  position: relative;
  margin-bottom: 11px;
  padding: 16px 0 16px 80px;
  cursor: pointer;
  font-size: $font-size--larger;
  line-height: $line-height--large;
  font-weight: 700;
  color: #000000;
  /*стилизация label*/

  @media (min-width: $tablet-width) {
    padding-left: 75px;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 78px;
  }

  &:last-child {
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 56px;
    height: 56px;
    background-color: $gray--lighten-2;
    border-radius: 28px;
    top: 2px;
    left: 0;
    /*стилизация фона radio*/
  }
}

.field-radio__name:hover {
  &::before {
    background: $gray--light-2;
  }
}

.field-radio__name:active {
  &::before {
    background: $gray--light;
  }

  &:after {
    opacity: 0.5;
  }
}


.field-radio__input:checked + .field-radio__name::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-color: $gray--darken;
  border-radius: 11px;
  top: 19px;
  left: 17px;
  /*стилизация активного radio*/
}
