.foto {
  margin: 0;
  position: relative;

  &:first-child {
    width: 100%;
  }

  &::before {
    @media (max-width: $mobile-width) {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      top: -23px;
      left: 0;
      background-color: $gray--light-2;
    }
  }

  @media (max-width: $mobile-width) {
    flex-basis: 100%;
    padding: 0 6.25% 39px 6.25%;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33.3333%;
  }
}

.foto__img-wrap img {
  @media (max-width: $mobile-width) {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 267px;
    object-fit: cover;
  }
}

.foto__img-wrap--wide img {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.foto__descr {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: -6px;
    padding: 15px 20px 12px 20px;
    background-color: $gray--lighten-2;
  }

  @media (min-width: $desktop-width) {
    margin-top: -86px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.foto:nth-child(2n+1) .foto__descr {
  @media (min-width: $tablet-width) {
    background-color: $gray--lighten;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.foto:nth-child(1) .foto__descr {
  @media (min-width: $tablet-width) {
    background-color: $gray--lighten-2;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.foto__title {
  font-size: $font-size--content;
  line-height: $line-height--larger;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.foto__author {
  margin-bottom: 5px;
  font-size: $font-size--content;
  line-height: $line-height--larger;
  color: $gray--darken;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.foto__wrap-cont {
  display: flex;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.foto__cont {
  padding: 0 15px 0 0;
  user-select: none;
  border: none;
  background: rgba(black, 0);
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 0 10px 0 0;
  }
}

.foto__cont svg {
  fill: $gray;

  @media (min-width: $desktop-width) {
    cursor: pointer;
    fill: #ffffff;
  }

  &:active {
    fill: $gray--darken;
  }
}

.foto__like {
  font-size: $font-size--content;
  font-weight: 700;
  line-height: $line-height--larger;
}
