.poupup {
  position: absolute;
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.35);

  @media (max-width: $mobile-width) {
    width: 200px;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    overflow: hidden;
  }

  /*@media (min-width: $tablet-width) {
  position: absolute;
  width: 84.375%;
  left: 50%;
  margin-left: -42.1875%;
  bottom: 0;
}*/

  &__title {
    /*padding: 46px 0 40px 0;*/
    text-align: center;

    @media (max-width: $mobile-width) {
      padding: 50px 0 40px 0;
    }

    /*  @media (min-width: $tablet-width) {
    padding-top: 65px;
    font-size: $font-size--x-large;
    line-height: $line-height--x-large;
  }*/
  }

  &__text {
    /*margin-bottom: 30px;*/
    /* line-height: 24px;*/
    text-align: center;
    color: $gray--darken;

    /* @media (min-width: $tablet-width) {
   margin-bottom: 40px;
 }*/
  }

  /*   &__btn-bg {
     outline: 1px dotted red;
     background-color: $gray--lighten-2;

     @media (max-width: $mobile-width) {
       padding: 18px 20px;
     }


     @media (min-width: $tablet-width) {}
   }*/

  /*  &__btn-not-bg {
    background-color: rgba(black, 0);
  }*/

  /*@media (min-width: $tablet-width) {
  padding: 45px 0;
}*/

  /* &--btn {
   margin: 0 auto;
   font-size: $font-size--larger;
 }*/

  /*&--error {
  @media (max-width: $mobile-width) {
    width: 320px;
    left: 50%;
    margin-left: -160px;
    bottom: 110px;
  }

  @media (min-width: $tablet-width) {
    width: 400px;
    margin-left: -200px;
    padding-left: 60px;
    padding-right: 60px;
  }
}*/

  /*  &--success {
    @media (max-width: $mobile-width) {
      width: 320px;
      left: 50%;
      margin-left: -160px;
      bottom: 110px;
    }

    @media (min-width: $tablet-width) {
      width: 640px;
      margin-left: -320px;
      bottom: 320px;
    }
  }*/

  /*&--closed {
  display: none;
}*/
}
